* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/*  ------ Navigation ------- */



/*--------- Hamburger Menu -------------- */
#hamnav {
    display: grid;
    grid-template-areas: 
    " site-title hamburger "
    " menu menu ";
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

.site-title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.875rem;
    font-weight: 700;
    flex-grow: 0.8;
    grid-area: site-title;
    padding-left: 1rem;
}

#hamitems {
    display: flex;
    flex-direction: column;
    grid-area: menu;
    padding-right: 1rem;
}

.nav-btn {
    flex-grow: 1;
    flex-basis: 0;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    align-self: center;
}

#hamnav label,
#hamburger {
    display: none;
    grid-area: hamburger;
    padding-right: 1rem;
}
/*-------- Banner --------*/

.banner-img {
    background-image: url("../images/blog-image-hero.png");
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    margin-bottom: 2em;
    min-height: 293px;
    width: 100%;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: end;

    /* height: 34vh; */

}

.banner-container {
    padding: 0 1.25rem;
    width: 100%;
    height: 300px;
}

.banner-title,
.banner-date,
.banner-description {
    color: white;
}

.banner-date,
.banner-description {
    font-weight: 400;
}

.banner-date {
    font-size: 0.75rem;
    /* font-size: 2.4vw; */
}

.banner-title {
    font-size: 2rem;
    font-weight: 700;
}

.banner-description {
    padding-bottom: 32px;
}

/*-------- Blog ----------*/
.blog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        grid-gap: 1rem;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

.blog-container {
    margin: 0;
    display: grid;
    padding: 0;
    grid-template-columns: 1.25rem 1fr 1.25rem;
    grid-template-areas: 
        ". image ."
        ". date  ."
        ". title ."
        ". body  ." ;
}

.blog-image {grid-area: image;}
.blog-date {grid-area: date;}
.blog-title {grid-area: title;}
.blog-body {grid-area: body;}

.blog-image{
    align-self: center;
    width: 100%
}

.blog-date {
    font-size: 0.75rem;
    margin: 0.875rem 0 0;
    text-transform: uppercase;
    }
    
.blog-title{
    color: #141414;
    margin: 0.56rem 0 0;
}
.blog-body {
    color: #505050;
    margin: 0.56rem 0 2.56rem 0;
}

/*------ Recent Posts -------*/

.recent-posts-title {
    text-align: center;
    padding: 3.19rem 0 1.69rem 0;
    margin: 0;
}

/*----- hidden -----*/

.view-more {
    text-align: center;
    margin-top: -20px;
    padding-bottom: 2rem;
}

.view-more-btn{
    padding: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.hidden-medium{
    display: none;
}

/*---- footer ------*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2.3rem;
    min-width: 300px;
}

footer p {
    font-size: 0.75rem;
    margin: 1px 0;
}
/*----- Media Queries ----- */

@media (min-width: 601px){

    .nav-btn {
        margin-left: 2vw;
    }

    .banner-container {
        padding: 0 1rem 2rem;
        height: 480px;
    }

    .blog-date {
        margin-top: 0.875rem;
    }
    
    .blog-title{
        margin: 0.56rem 0;
    }
    .blog-body {
        margin: 0.875rem 0 2.56rem 0;
    }

    .blog-container{
        grid-template-columns: 1.2rem 1fr 1.2rem;
    }

    #hamnav {
        display: flex;
        width: 100%;
        max-width: 100%;
        padding: 0 2rem ;
    }

    #hamnav label,
    #hamburger {
        display: none;
    }

    #hamitems {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 638px) {
    .hidden-medium{
        display: grid;
    }
}


@media (min-width: 768px) {
    .blog {
        justify-content: center;
        grid-template-columns: repeat(3, minmax(256px, 500px));
        max-width: 1500px;
    }

    .banner-container{
        max-width: 1500px;
        grid-column: 1 / -1;
    }

    .banner-date,
    .banner-description {
        font-size: 1.5rem;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .hidden {
        display: grid;
    }

    #view-more {
        display: none;
    }

    .blog-date,
    .blog-body {
        font-size: 1.25rem;
    }

    .blog-title{
        font-size: 2rem;;
    }
    footer p{
        font-size: 1.2rem;
    }

    #hamnav{
        max-width: 1500px;
        margin: 0 auto;
    }
    .site-title{
        gap: 10px;
        font-size: 1.5rem;
    }

    .nav-btn {
        font-size: 1.25rem;
    }

}


@media (max-width: 600px){

    .nav-btn {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        text-align: end;
        padding-right: 1.2rem;
        padding-bottom: 1rem;
    }

    #hamitems {
        padding: 0;
    }

    #hamnav label {
        display: inline-block;
        color: black;
        background: white;
        font-style: normal;
        font-size: 1.2rem;
        align-self: center;
    }

    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems {display: block;}        

}